@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');
@import 'overrides';
@import 'animations';

body, html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.page_wrapper > section:first-child {
  padding-top: $header_height + 8rem;
}

.bg_image {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  &--1 {
    background-image: url('/img/home01.jpg');
  }
  &--2 {
    background-image: url('~assets/bg_sponsor.jpg');
  }
}

.gradient_top {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;
    background: linear-gradient(to bottom, $secondary 20%, transparent);
  }
}

.lh-1 {
  line-height: 1.1;
}

.pt_section {
  padding-top: 4rem;
}

.py_section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.mb_space {
  margin-bottom: 6rem;
}

.brand {
  &__color {
    background: $primary;
  }
  &__text {
    color: $primary;
  }
}

.img_container {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.display_text {
  font-size: 2.5rem;
  font-weight: 900;
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.7);
  &--white {
    color: #FFF;
  }
}

/* Helpers */
.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.full_h {
  height: 100vh;
}

.relative {
  position: relative;
}

.section_title {
  letter-spacing: 4px;
}